#accountList td{cursor: pointer;}
label{font-weight: bold;}
.row_selected {background-color: #ccc !important;}
.row_selected td{background-color: #ccc !important;}
#accountHeader {width:300px;}
#accountModal {
    width:960px;
    left:450px;
}
div.field {padding:2px;clear:both;}
div.field input {float:left; height:13px;}
div.field select {height: 23px;}
fieldset{margin-bottom:20px;}
.add-field {margin-left:5px;}
div.add {
    clear:both;
    text-align: right;
    max-width: 415px;
}

/******account data******/
#accountData span {float:left; height:13px;}
#accountData label {float:left; width:130px;}
div.button {margin-left: 20px;}
.editHide {display:none;visibility:hidden;}
.editShow {visibility:visible;}

/******emails & phones******/
.primaryRadio {float:right !important;margin-right:415px !important;}
#contactAddressEmailFieldset label, #contactAddressPhoneFieldset label {width:130px;float:left;}
#addEmail, #addPhone {padding-top:4px;}
.saveEmail, .savePhone {margin-left:4px;}
#emailPrimary {
    float: right;
    clear: both !important;
    margin-right: 397px;
}


/******mailing addresses******/
div.addressOne,div.addressTwo,div.addressThree, span.city {
    margin-left:10px;
    line-height:16px !important;
}
div.address input, div.address select {
    clear:both;
    margin-top:3px;
}
.stateContainer {clear:both;}
.template{
    display:none;
    visibility:hidden;
}
.addressLbl {float:left;}
.viewAddressLbl {margin-right:55px;}
input.zip {margin-right:65px;}
.save {margin-left:180px;clear:both;}
div.address {margin-bottom:20px;margin-top:15px;}
