#MenuRow {
    padding-top: 10px;
}

#Content {
    margin-bottom: 10px;
}

label.valid {
    width: 30px;
    height: 30px;
    background: url('/images/kudos/Done.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#errorMessages {
    margin-top: 10px;
}

.pretty h2 {
    font-size: 30px;
    font-weight: 200;
    margin: 1.0em 0 0.5em;
}

#applicationNavBar {
    margin-top: 55px;
}

.pretty {
    padding-top: 10px;
    padding-bottom: 10px;
}