#contactList td{cursor: pointer;}
label{font-weight: bold;}
.row_selected {background-color: #ccc !important;}
.row_selected td{background-color: #ccc !important;}
#contactHeader {width:300px;}
#contactModal {
  width:960px;
  left:450px;
}
div.field {padding:2px;clear:both;}
div.field input {float:left; height:13px;}
div.field select {height: 23px;}
fieldset{margin-top:20px;}
.add-field {margin-left:5px;}
div.add {
  clear:both;
  text-align: right;
  max-width: 367px;
}

/******contact data******/
#contactData span {float:left; height:13px;}
#contactData label {float:left; width:130px;}
#contactData {padding:15px;}
div.button {margin-left: 20px;}
.editHide {display:none;visibility:hidden;}
.editShow {visibility:visible;}

/******mailing address******/
div.addressOne,div.addressTwo,div.addressThree, span.city {
  margin-left:10px;
  line-height:16px !important;
}
div.address input, div.address select {
  clear:both;
  margin-top:3px;
}
.stateContainer {clear:both;}
.template{
  display:none;
  visibility:hidden;
}
.addressLbl {float:left;}
.viewAddressLbl {margin-right:55px;}
input.zip {margin-right:65px;}
.save {margin-top:4px;}
div.address {margin-bottom:20px;}
