/*#suspectList td{cursor: pointer;}*/
/*label{font-weight: bold;}*/
/*.row_selected {background-color: #ccc !important;}*/
/*.row_selected td{background-color: #ccc !important;}*/
/*#suspectHeader {width:300px;}*/
/*div.field {padding:2px;clear:both;}*/
/*div.field input {float:left;}*/
/*div.add {clear:both;}*/

/*.popover {*/
/*max-width: 360px;*/
/*}*/
@media (min-width: 1200px) {
    .modal {
        width: 960px;
        margin-left: -480px;
    }
}

/*Portrait tablet to landscape and desktop*/
@media (min-width: 768px) and (max-width: 979px) {
    .modal {
        width: 760px;
        margin-left: -380px;
    }
}

/*Landscape phones and down*/
@media (max-width: 480px) {
    .modal {
        width: 460px;
        margin-left: -230px;
    }
}

/*.new {*/
/*margin-left:69px;*/
/*clear:both;*/
/*display:block !important;*/
/*}*/

/*@media (min-height: 768px) and (max-height: 979px) {*/
/*.gridStyle {*/
/*border: 1px solid rgb(212, 212, 212);*/
/*width: 600px;*/
/*height: 500px*/
/*}*/
/*}*/

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    /*width: 600px;*/
    height: 390px
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

#tree {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.table-nonfluid {
    /*width: auto;*/
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
        height: 25px;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        height: 25px;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

/*td input, td select {*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing:border-box;*/
    /*-moz-box-sizing: border-box;*/
/*}*/